<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Timeclock</title>
		<link rel="stylesheet" href="https://unpkg.com/react-datetime@2.11.0/css/react-datetime.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/app.css">
		<link rel="icon" href="/img/icon.png">
		<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
		<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.js"></script>
		<script src="https://unpkg.com/prop-types/prop-types.js"></script>
		<script src="https://unpkg.com/redux@3.7.0/dist/redux.js"></script>
		<script src="https://unpkg.com/react-redux@5.0.5/dist/react-redux.js"></script>
		<script src="https://unpkg.com/redux-actions@2.0.3/dist/redux-actions.js"></script>
		<script src="https://unpkg.com/@reactivex/rxjs@5.4.1/dist/global/Rx.js"></script>
		<script src="https://unpkg.com/redux-observable@0.14.1/dist/redux-observable.js"></script>
		<script src="https://unpkg.com/moment@2.14.1/min/moment.min.js"></script>
		<script src="https://unpkg.com/react-datetime@2.11.0/dist/react-datetime.min.js"></script>
	</head>
	<body>
		<div id="root"></div>
		<script src="/app.js"></script>
	</body>
</html>
